.hero{
    height: 70vh;
    border-radius: 15px;
    background-image: url("../../assets/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.search-icon{
    position: absolute;
    right: 30px;
    top: 15%;
    color: var(--gray);
}

.masked-heading{
  font-size: 64px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff6a00, #ee0979);
   background-clip: text;
  -webkit-text-fill-color: transparent;
}

.masked-heading-2{
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff6a00, #ee0979);
   background-clip: text;
  -webkit-text-fill-color: transparent;
}