.box{
    box-shadow: 0 0 5px;
}

.right-box, .left-box{
    width: 400px;
    padding:50px 30px;
}

.right-box{
    display: flex;
    align-items: end;
    background-color: var(--light-pink);
}

.register-button{
    border: none;
    box-shadow: none;
    padding: 10px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 5px;
}
