*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --pink:pink;
  --light-pink:rgb(252, 248, 249);
  --white:white;
  --black:#000;
  --green:green;
  --gray:gray;
  --light-gray:rgb(196, 195, 195);
}

.button1{
  background-color: var(--black);
  color: var(--white);
  border-radius: 20px;
  padding: 8px 16px;
  text-decoration: none;
  outline: none;
  border: none;
}


.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
